*{
    margin:0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
}
.main{
    background-image: url(https://d2r55xnwy6nx47.cloudfront.net/uploads/2017/04/QM-About-1720x729-2-1720x729.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    text-align:center;
    color: white;
}
.heading{
    transform: translate(0px,248px);
    /* position: absolute; */
    /* top: 48%; */
    /* left:35%; */
    font-size: 44.8px;
    font-family:"Raleway"sans-serif;
    font-weight: 700;
    /* justify-content: center; */
    text-align: center;
}
.para{
    transform: translate(0px,256px);
    /* position: absolute; */
    /* top: 56%; */
    /* left:39%; */
    font-size: 28.8px;
    font-family:"Raleway"sans-serif;
    font-weight: 700;

}

.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ab{
    text-align: center;
    color:black;
    font-size: 2.8em;
    padding-top: 50px;
    /* padding-bottom: 80px; */
}
.ba{
    margin-bottom: 80px;
    margin-top: 80px;
}
.hrm{
margin: 0 auto;

}
.c1{
    width: 25%;
    text-align: center;
}
.header{
    width: 100%;
    height: 50px;
    display: block;
    background-color: #101010;
    position:sticky;
    top: 0;

}
.inner_header{
     width: 100%;
     height: 100%;
     display: block;
     margin: 0 auto;

   
}
 .navigation{
    float: right;
    height: 100%;
    color: white;
 }
 .navigation a{
    height: 100%;
    display: table;
    float:left ;
    padding: 0px 30px;
 }
 .navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    
    font-size: 16px ;
 }
 .navigation a li:hover{
   color: red;
   padding: 7px;
 }
.col{
    background-color: #252934;
    align-items: center;
    width: 100%;
    padding-bottom: 50px;
    
} 
.custom-col{
    text-align: center;
    padding: 10px;
    color: white;
    /* padding-left: 50px; */
    font-size: larger;
    margin-top: 40px;
    width: 50%;
}
.custom-col-img{
    text-align: center;
    color: white;
    /* padding-left: 100px; */
    margin-top: 35px;
    width: 45%;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    border:0;
    outline:0;
    width: 60%;
    align-items:center;
    padding-left: 100px;
}
.link{
    margin-top: 50px;
    color: SKYblue ;
  

}
.nam{
    background-color:#1e242c ;
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 18px 12px;
    outline: 0;
    border: 0;
    color: white;
    transition: all 1s;
}
    


.email{
    display: block;
    background-color: #1e242c;
    width:100% ;
    margin-top: 10px;
    padding: 18px 12px;
    outline: 0;
    border: 0;
    color: white;
    transition: all 1s;
}


.mess{
    padding:18px 12px;
    margin-top:10px;
    background-color:#1e242c ;
    display: block;
    width: 100%;
    border: 0;
    outline: 0;
    color: white;
    transition: all 1s;
    padding-bottom: 60px;
}
.rm{
    margin-left: 35%;
    margin-bottom: 50px;
}
.butt{
    width: 20%;
    background-color: #1e242c;
    padding: 15px 5px;
    color: #fff;
    transition: all 0.2s;
    cursor: pointer;
    margin-left: 226px;
    margin-top: 10px;
    border: 1px solid white; 
    
}
.butt:hover{
    background-color: blue;
}
.progress{
    background-color: green;
    width: 85%;
    height: 20px;
    margin-bottom: 20px;
    text-align: right;
    
}
.bar{
    background-color: skyblue;
    width: 15%;
    margin-bottom: 20px;
}
.progress1{
    background-color: green;
    width: 55%;
    height: 20px;
    margin-bottom: 20px;
    text-align: right;
    
}
.bar1{
    background-color: skyblue;
    width: 45%;
    margin-bottom: 20px;

}
.progress2{
    background-color: green;
    width: 85%;
    height: 20px;
    margin-bottom: 20px;
    text-align: right;
    
}
.bar2{
    background-color: skyblue;
    width: 15%;
    margin-bottom: 20px;
}
.progress3{
    background-color: green;
    width: 45%;
    height: 20px;
    margin-bottom: 20px;
    text-align: right;
    
}
.bar3{
    background-color: skyblue;
    width: 55%;
    margin-bottom: 20px;
}
.progress4{
    background-color: green;
    width: 95%;
    height: 20px;
    margin-bottom: 20px;
    text-align: right;
    
}
.bar4{
    background-color: skyblue;
    width:5%;
    margin-bottom: 20px;
}.progress5{
    background-color: green;
    width: 35%;
    height: 20px;
    margin-bottom: 20px;
    text-align: right;
    
}
.bar5{
    background-color: skyblue;
    width: 65%;
    height: 20px;
    margin-bottom: 20px;
    text-align: right;
}
.textsize{
    text-align: center;
    font-size: 14px;

}
.block{
    width: 100%;
    height: 100%;
}
.block1{
    width: 50%;
    height: 100%;
    margin: 50px;
    
}
.block2{
    width: 50%;
    height: 100%;
    text-align: center;
    margin: 55px;
}
.imagesimg {
    width:40%;
    /* height: 104.57px; */
    max-width: 100%;
    margin-bottom: 5px;
}
.text{
    text-align: center;
}
.imagesize{
    width: 100%;
    height: 170px;
    padding: 0px;
}
.imgsize{
    width:100% ;
    height:200px ;
    margin: 0px 0px 5px;
    
}
.imgsize:hover{
    transform: scale(1.5);
    overflow: hidden;
        
}
.imgcont{
    width: 33.33%; 
    padding: 0px;
}
.portedit{
    margin: 0%;
    padding: 100px;
    padding-bottom: 100px;
    /* text-align: center; */
}
.blogedit{
    background-color: hsl(0, 0%, 95%);
    padding-top: 90px;
    padding-bottom: 200px;
    
}
.pro{
   text-align:center ;
}
.blo{
    text-align: center;
    /* padding: 50px; */
}
.hrp{
    margin: 0 auto;
    background-color: red;
}
.coulmn2{
    width: 25%;
    height: 100%;
    /* text-align: center; */
    padding: 20px;
    
}
.hrf{
    width: 25%;
    color: white;
    margin: 12px 0px 10px;
    background-color:rgb(121, 240, 220);
    height: 3px;
    display: block;
}
.break{
    font-size: 24px;
    padding-bottom: 6px;
}
.font{
    font-size: 1.17em;
}
.footer-row{
    background: #1b242f;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
}
.icon{
    height: 40px;
    width: 50px;
    background-color: #262f38;
    text-align: center;
    margin: 20px;
    font-size: 20px;
    /* vertical-align: middle; */
    padding-top: 10px;
}
.icon:hover{
    background-color: aquamarine;
}
.co{
    padding-bottom: 50px;
}
.do{
    padding-top: 40px;
}
@media (max-width: 576px){
    .body-responsive{
        width: 100vw !important;
        overflow-x: hidden;
    }
    .blogedit{
        width: 100vw;
        display: flex;
        flex-direction: column;
    }
    .coulmn2{
        width: 100vw;
    }
    .ba{
        display: flex;
        flex-direction: column;
    }
    .c1{
        width: 100vw;
        margin-bottom: 20px;
    }
    .block{
        display:flex;
        flex-direction: column;
        margin-left: 40px;
    }
    .col{
        display: flex;
        flex-direction: column;
    }
    .custom-col{
        margin: 0%;
        width: 100%;
        margin: 20px;
    }
    .custom-col-img{
        width: 100%;
    }
    .heading{
        top: 50%;
        left: 25%;
        font-size: 20px;
    }
    .para{
        top: 55%;
        left: 20%;
        font-size: 20px;
    }
    .form{
        align-content: center;
        /* padding: 0%; */
    }
    .butt{
        margin: 0%;
    }

}